
/* @import url("http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("http://fonts.googleapis.com/css?family=Segoe+UI+Light:300,300italic,600,600italic,700");*/

body {background-image:url("images/light-blue3-s.png");}

/* body {background-image:  url("images/bg-heroes.jpg");} */

h1,h2,h3,h4,P,pre{font-family: 'Segoe UI Light', 'Open Sans', sans-serif}

h1,h2,h3,h4, p {text-align: center; color: black;}

h2 {margin-top: 2em; padding-top: 0.5em; padding-bottom: 0em}

div.row1 {
		padding-top: 1em;
        padding-bottom: 5em;
        border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
        }

p{color: black}

/* list */

ul {color: forestgreen; font-family:'verdana'; font-weight: 600 }
li: {color:chartreuse}
li:hover {color:chartreuse}
li a:hover {color:forestgreen}

/* table */
 table.center {
    margin-top: 2em;
    margin-left: 300px;
    
   
    
            }

table.right {
    margin-top: 2em;
    padding-left: 2em;
    padding-right: auto;
  }

th {color: darkgreen; padding-left: 2 em; padding-right: 2em}
td {width: 150px; margin-left: 5px; color: forestgreen; padding-left: 2 em; padding-right: 2em; font-family:'verdana'; font-weight: 800 }
td>p {width: 150px; margin-left: 10px;}

/* Nav */

	#nav {
		background-color:darkgreen;
        opacity: 0.7;
		text-align: center;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10000;
		cursor: default;
	}

		#nav ul {
			margin-bottom: 1em;
            /*всплывающее меню*/
          
		}

		#nav li {
			display: inline-block;
            
		}

		#nav a {
			position: relative;
			display: block;
			color: #fff;
			text-decoration: none;
            padding-left: 1em;
            padding-right: 1em;
			outline: 0;
		}

			#nav a:hover {
				color:chartreuse !important;
			}

			#nav a.active:before {
				content: '';
				display: block;
				position: absolute;
				bottom: -0.6em;
				left: 50%;
				margin-left: -0.75em;
				border-left: solid 0.75em transparent;
				border-right: solid 0.75em transparent;
				border-top: solid 0.6em #282828;
			}
        
        
        #nav.page1 {background-color: darkred}



/* Img */

    th>img {box-shadow: -2px 2px 10px -1px #333; border-radius: 5px;}
    a>img {box-shadow: -2px 2px 10px -1px #333; border-radius: 5px;}

    .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
            }

    .rightimg {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
            }

    .round { 
            -moz-border-radius: 100px; /* Firefox */ -webkit-border-radius: 100px; /* Safari, Chrome */ -khtml-border-radius: 100px; /* KHTML */ border-radius: 100px; /* CSS3 */ /*IE */ 
            }

    .rollover {
        display: block;
        width: 120px;
        border-radius: 5px;
        
            }
    .rollover:hover {
        display: block;
        position: absolute;
        right: 15px;
        width: 625px;
        }

/* frame */
iframe  {
            margin-top: 10px; 
            margin-bottom: 10px;    
            }

/* Wrappers */

.wrapper {
		margin-top: 3em;
        margin-left: 40px;
        margin-right: 40px;
        background-image: url("images/Contact-grey-s.png");
		box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
	}

		.wrapper.first {
			box-shadow: none;
		}

		.wrapper.style1 {
            background-image: url("images/light-blue1-s.png");
            text-shadow: 1px 1px 0px #fff;
            margin-top: 2em;
            padding-bottom:2em;
            
            
		}

		.wrapper.style2 {
			background-image: url("images/light-blue2-s.png");
			text-shadow: 1px 1px 0px #fff;
            padding-bottom:2em;
            
		}
        
            th.wrapper.style2 { width: 130px; height: 110px;}

		.wrapper.style3 {
			background-image: url("images/light-blue4-s.png");
			text-shadow: 1px 1px 0px #fff;
            padding-bottom:2em;
		}

		.wrapper.style4 {
			background-image: url("images/light-blue5-s.png");
			color: #999;
			text-shadow: 1px 1px 0px #fff;
            height: 34em;
            padding-bottom:1em;
		}
        .wrapper.style5 {
			background-color: grey;
            color:beige;
            height: 30em;
            
        
            
        }
        
        .wrapper.style6 {
			background-image: url("images/light-red2-s.png");
			text-shadow: 1px 1px 0px #fff;
            margin-top: 2em; 
            padding-bottom:2em;
		}
        
        .wrapper.style7 {
			background-image: url("images/light-red3-s.png");
			text-shadow: 1px 1px 0px #fff;
            padding-bottom:2em;
		}

        .wrapper.style8 {
			background-image: url("images/light-red1-s.png");
			text-shadow: 1px 1px 0px #fff;
            padding-bottom:2em;
		}
        
        .wrapper.style9 {
			background-image: url("images/light-red5-s.png");
			text-shadow: 1px 1px 0px #fff;
            height: 33em;
            padding-bottom:2em;
		}

			.wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
				color: inherit;
			}
/* Опрос */

#option1,#option2,#option3,#option4{
	display:none;
	margin-bottom: 10px;
}
.ogane{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    color: #fff;
    background: #3C8FB7;
    padding: 4px 8px;
	border: 0;
    border-radius: 5px;
	cursor: pointer;
}

/* excesive*/

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		/*background-image: url("images/bg.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: url("images/bg.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: url("images/bg.png"), -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: url("images/bg.png"), linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		-moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		color: darkgrey;
		text-decoration: none;
		font-weight: 400;
		border: 0;
		outline: 0;
		cursor: pointer;
		border-radius: 5px;
		text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
		overflow: hidden;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
		background-color: black;*/
	}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background-color: #43bff0;
			color: #fff !important;
		}

		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		button:active,
		.button:active {
			background-color: #3BA8D3;
			top: 1px;
		}

		input[type="button"].alt,
		input[type="submit"].alt,
		input[type="reset"].alt,
		button.alt,
		.button.alt {
			background-color: #444;
			box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2);
		}

			input[type="button"].alt:hover,
			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background-color: #4f4f4f;
				color: #fff !important;
			}

			input[type="button"].alt:active,
			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			button.alt:active,
			.button.alt:active {
				background-color: #3f3f3f;
			}
